<div class="container" style="width: 100%;">
    <mat-card class="aboutUsCard">
        <mat-card-header>
            <mat-card-title>About Us</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare imperdiet fringilla. Ut lorem eros, malesuada non varius vel, euismod sed ante. Nulla nec egestas dui, at aliquam enim. Nunc molestie ex bibendum tellus eleifend, sed molestie massa varius. Donec ut elit augue. Curabitur porta, nunc et tincidunt sodales, tellus dolor posuere quam, id eleifend mauris magna eget orci. Curabitur placerat feugiat dui, non viverra eros aliquam a. In faucibus purus quis cursus interdum. Quisque porta scelerisque libero at placerat. Donec porttitor lectus vel vulputate posuere. Ut finibus, dolor quis eleifend interdum, augue libero molestie elit, non efficitur eros dui non diam. Nulla facilisi.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare imperdiet fringilla. Ut lorem eros, malesuada non varius vel, euismod sed ante. Nulla nec egestas dui, at aliquam enim. Nunc molestie ex bibendum tellus eleifend, sed molestie massa varius. Donec ut elit augue. Curabitur porta, nunc et tincidunt sodales, tellus dolor posuere quam, id eleifend mauris magna eget orci. Curabitur placerat feugiat dui, non viverra eros aliquam a. In faucibus purus quis cursus interdum. Quisque porta scelerisque libero at placerat. Donec porttitor lectus vel vulputate posuere. Ut finibus, dolor quis eleifend interdum, augue libero molestie elit, non efficitur eros dui non diam. Nulla facilisi.
            </p>
        </mat-card-content>
    </mat-card>
</div>