<div class="container" style="width: 100%;">
    <mat-card class="aboutUsCard">
        <mat-card-header>
            <mat-card-title>About Us</mat-card-title>
        </mat-card-header>
        <mat-card-content>		
            <p>
            BrokenThorn Entertainment, Co. is a software company that specializes in game development and system software.
            We understand the importance of learning and spreading knowledge. We are commited to providing the best resources
            available for developers and community members.
            </p>
            <p>
            BrokenThorn Entertainment was first created under the domain name <b>http://mt2002.sitesled.com</b>. This was to be a basic hosting ground
            for our in house game engines and software applications.
            </p>
            <p>
            BrokenThorn Entertainment Co. begun as a hosting website for our franchise OS Development Series of tutorials and resources.
            We have recieved great support and positive feedback on our tutorials and resources. Through great support, we wanted to provide better
            support and resources to the tutorials, and help bring this community closer together.
            </p>
            <p>
            In this process of doing so, we have brought a new domain name: <b>http://www.brokenthorn.com</b>, and redesigned the company web site.
                The new design was originally created by Greg Jarzab (© 2007). It was remodeled a little
                to help support the sites visitors.
            </p>
            <p>
            BrokenThorn Entertainment is a <b>Partnership Company</b> under two primary owners.
            </p>
            <p>
            BrokenThorn Entertainment values learning and spreading knowledge and information. Because of this, we provide alot of
            resources for free. We also provide commercial products and services for company and cooperate uses, such as <b>EvolutionEngine</b>.
            </p>
        </mat-card-content>
    </mat-card>
</div>