.threadItem:hover{
    background-color: #6d58a3;
    cursor: pointer;
}

.threadItem{
    padding: 10px;
}

.forumCard{
    width: 80%;
    max-width: 80%;
    margin: auto;
    margin-top: 10%;
    padding: 40px;
}