<mat-toolbar style="background-color: #206955;">
  <mat-toolbar-row>
    <img src="../assets/Logo.png" style="height: 100%;"/>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="userButton()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row style="background-color: #223f5d;">
    <span style="flex: 1;"></span>
    <button mat-flat-button color="primary" class="navButton" routerLink="/">Home</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/Guides">Guides</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/Forums">Forums</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/Chatrooms">Chatrooms</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/AboutUs">About Us</button>
    <span style="flex: 1;"></span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
