<mat-toolbar style="background-color: #206955; height: 20%;">
  <mat-toolbar-row style="flex: 1; flex-basis: 70%;">
    <img src="../assets/Logo.png" style="height: 100%;"/>
    <span class="example-spacer"></span>
    <p *ngIf="this.getUser() == null" style="color: white; margin: auto;">Log In!</p>
    <button mat-icon-button (click)="userButton()" *ngIf="this.getUser() == null">
      <mat-icon>account_circle</mat-icon>
    </button>
    <p *ngIf="this.getUser() != null" style="color: white; margin: auto;">Welcome, {{this.getUser().Username}}</p>
    <button mat-icon-button (click)="logOut()" *ngIf="this.getUser() != null">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row style="background-color: #223f5d; flex: 1; flex-basis: 30%;">
    <span style="flex: 1;"></span>
    <button mat-flat-button color="primary" class="navButton" routerLink="/">Home</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/Guides">Guides</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/Forums">Forums</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/Chatrooms">Chatrooms</button>
    <button mat-flat-button color="primary" class="navButton" routerLink="/AboutUs">About Us</button>
    <span style="flex: 1;"></span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
